# Package

In [32]:
import pandas as pd
import numpy as np

# Config

In [33]:
data_dir = '../data/raw_data/iris_cla/train.csv'

In [34]:
df = pd.read_csv(data_dir)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 33 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   mean_radius              410 non-null    float64
 1   mean_texture             410 non-null    float64
 2   mean_perimeter           410 non-null    float64
 3   mean_area                410 non-null    float64
 4   mean_smoothness          410 non-null    float64
 5   mean_compactness         410 non-null    float64
 6   mean_concavity           410 non-null    float64
 7   mean_concave_points      410 non-null    float64
 8   mean_symmetry            410 non-null    float64
 9   mean_fractal_dimension   410 non-null    float64
 10  radius_error             410 non-null    float64
 11  texture_error            410 non-null    float64
 12  perimeter_error          410 non-null    float64
 13  area_error               410 non-null    float64
 14  smoothness_error         410 non-null    float64
 15  compactness_error        410 non-null    float64
 16  concavity_error          410 non-null    float64
 17  concave_points_error     410 non-null    float64
 18  symmetry_error           410 non-null    float64
 19  fractal_dimension_error  410 non-null    float64
 20  worst_radius             410 non-null    float64
 21  worst_texture            410 non-null    float64
 22  worst_perimeter          410 non-null    float64
 23  worst_area               410 non-null    float64
 24  worst_smoothness         410 non-null    float64
 25  worst_compactness        410 non-null    float64
 26  worst_concavity          410 non-null    float64
 27  worst_concave_points     410 non-null    float64
 28  worst_symmetry           410 non-null    float64
 29  worst_fractal_dimension  410 non-null    float64
 30  target                   410 non-null    int64
 31  zero_0                   410 non-null    float64
 32  zero_1                   410 non-null    float64
dtypes: float64(32), int64(1)
memory usage: 105.8 KB

In [36]:
for col in df.columns:
    length = len(df[df[col]==0.0])
    print(f"{col}: {length}; [{min(df[col])}, {max(df[col])}]")

mean_radius: 0; [6.981, 28.11]
mean_texture: 0; [9.71, 39.28]
mean_perimeter: 0; [43.79, 188.5]
mean_area: 0; [143.5, 2501.0]
mean_smoothness: 0; [0.06251, 0.1447]
mean_compactness: 0; [0.01938, 0.3454]
mean_concavity: 11; [0.0, 0.4268]
mean_concave_points: 11; [0.0, 0.2012]
mean_symmetry: 0; [0.106, 0.304]
mean_fractal_dimension: 0; [0.049960000000000004, 0.09744]
radius_error: 0; [0.1115, 2.873]
texture_error: 0; [0.3602, 4.885]
perimeter_error: 0; [0.757, 21.98]
area_error: 0; [7.228, 542.2]
smoothness_error: 0; [0.001713, 0.03113]
compactness_error: 0; [0.002252, 0.1006]
concavity_error: 11; [0.0, 0.396]
concave_points_error: 11; [0.0, 0.05279]
symmetry_error: 0; [0.007882, 0.07895]
fractal_dimension_error: 0; [0.0009683, 0.02984]
worst_radius: 0; [7.93, 36.04]
worst_texture: 0; [12.02, 49.54]
worst_perimeter: 0; [50.41, 251.2]
worst_area: 0; [185.2, 4254.0]
worst_smoothness: 0; [0.07117000000000001, 0.2226]
worst_compactness: 0; [0.02729, 0.9379]
worst_concavity: 11; [0.0, 1.17]
worst_concave_points: 11; [0.0, 0.29100000000000004]
worst_symmetry: 0; [0.1565, 0.6638]
worst_fractal_dimension: 0; [0.05504, 0.17300000000000001]
target: 151; [0, 1]
zero_0: 164; [-9.90246356172916, 9.942825020094656]
zero_1: 159; [-9.997858552282356, 9.851119575533307]

In [21]:
X

           0
0   6.849198
1   8.811997
2   7.713801
3   4.789413
4   2.127036
5   9.427730
6   9.057254
7  -3.673855
8  -3.900246
9  -8.319055
10 -2.442419
11  5.277592
12  8.119998
13 -6.123439
14  4.707756
15 -6.491442
16  8.697656
17 -0.952512
18  7.188493
19  0.657425
20  8.911043
21  2.332526
22 -1.949002
23 -5.651273
24  7.811431
25  7.874553
26  8.240171
27 -1.835988
28  0.215104
29 -8.329677
30  4.447310
31 -4.863964
32  3.703126
33 -6.662402
34  9.978832
35  3.446564
36  6.258773
37 -0.482585
38  7.208198
39 -1.420397

[1, 34, 2, 36, 11, 14, 15, 16, 17, 23]

In [31]:
X

           0
0   6.849198
1   0.000000
2   0.000000
3   4.789413
4   2.127036
5   9.427730
6   9.057254
7  -3.673855
8  -3.900246
9  -8.319055
10 -2.442419
11  0.000000
12  8.119998
13 -6.123439
14  0.000000
15  0.000000
16  0.000000
17  0.000000
18  7.188493
19  0.657425
20  8.911043
21  2.332526
22 -1.949002
23  0.000000
24  7.811431
25  7.874553
26  8.240171
27 -1.835988
28  0.215104
29 -8.329677
30  4.447310
31 -4.863964
32  3.703126
33 -6.662402
34  0.000000
35  3.446564
36  0.000000
37 -0.482585
38  7.208198
39 -1.420397